@*@model*@
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>Pedidos</h2>
<br />
<div class="row">

    <div class="form-group">
        <table id="tblProdutos" class="table">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Cliente</th>
                    <th>Mercado</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Visualizar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0001</td>
                    <td>Matuê</td>
                    <td>Extra supermercados</td>
                    <td>100</td>
                    <td>Pendente</td>
                    <td><img src="~/Content/buscar.png" /></td>
                </tr>
                <tr>
                    <td>0002</td>
                    <td>Tiririca</td>
                    <td>Extra supermercados</td>
                    <td>500</td>
                    <td>Pendente</td>
                    <td><img src="~/Content/buscar.png" /></td>
                </tr>
                <tr>
                    <td>0003</td>
                    <td>Igor</td>
                    <td>Cidade canção</td>
                    <td>150</td>
                    <td>Aguardando entrega</td>
                    <td><img src="~/Content/buscar.png" /></td>
                </tr>
                <tr>
                    <td>0004</td>
                    <td>Matuê</td>
                    <td>Extra supermercados</td>
                    <td>67</td>
                    <td>Pendente</td>
                    <td><img src="~/Content/buscar.png" /></td>
                </tr>
                <tr>
                    <td>0005</td>
                    <td>Tiririca</td>
                    <td>Extra supermercados</td>
                    <td>23</td>
                    <td>Pendente</td>
                    <td><img src="~/Content/buscar.png" /></td>
                </tr>
                <tr>
                    <td>0006</td>
                    <td>Igor</td>
                    <td>Cidade canção</td>
                    <td>234</td>
                    <td>Aguardando entrega</td>
                    <td><img src="~/Content/buscar.png" /></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

