@model MercadOn.Models.Cliente.PedidoModel
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>Pedidos</h2>
<br />
<div class="row">

    <div class="form-group">
        <table id="tblProdutos" class="table">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Cliente</th>
                    <th>Mercado</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Visualizar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pedido in Model.Pedidos)
                {
                    <tr>
                        <td>@pedido.pedidoid</td>
                        <td>@pedido.Cliente</td>
                        <td>@pedido.Mercado</td>
                        <td>@pedido.total</td>
                        <td>Pendente</td>
                        <td><a href="/Cliente/PedidoDetalhe?idPedido=@pedido.pedidoid"><img src="~/Content/buscar.png" /></a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

