
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contato</title>
</head>
<body>
    <div> 
        <span> @ViewBag.Contato </span>
    </div>
</body>
</html>
