
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.MeuBago</title>
</head>
<body>
    <div>
        <span>@ViewBag.MeuBago</span>
    </div>
</body>
</html>
